<div id='seller-orders-index'>
    <h3>Seller Orders</h3>
    <div class="msg success"></div>
    <div class="msg error error"></div>
    <div id="new">
        <a class="btn-new" href="seller_orders/form.html">Novo</a> 
    </div>
    <table>
        <thead>
            <tr>           
                <th>Code</th>
                <th>Order id</th>
                <th>Seller Name</th>
                <th>Status</th>
                <th>Seller Brand</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="msg error api"></div>
</div>
<div id='form'>
</div>
<script src="../js/seller_orders.js"></script>
<script src="../js/crud.js"></script>
